<div class="jumbotron bg-white text-center">
    <h1 class="display-3">Corona covid-19 Tracker</h1>
    <hr>
    <app-dashboard-card [totalConfirmed]='totalConfirmed'
        [totalRecovered]='totalRecovered' 
        [totalDeaths]='totalDeaths'
        [totalActive]='totalActive'>
    </app-dashboard-card>
</div>
<div class="row">
    <div class="col">
        <google-chart [data]="columnChart"></google-chart>
    </div>
    <div class="col">
        <google-chart [data]="pieChart"></google-chart>
    </div>
</div>

